body {
  background-color: pink;
}

#toolbar {
  top: 50px;
  width: 1000px;
  height: 100px;
  background-color: yellow;
}

#floor {
  top: 150px;
  width: 1000px;
  height: 400px;
  background-color: skyblue;
}


.table {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 90px;
  width: 90px;
  border: solid red 1px;
}

.selected {
  background-color: red;
}
